// ***************************************
// ************ VARIABLES ****************
// ***************************************


// ***************************************
// ***************** Size ****************
// ***************************************

$mobile:                    480px;
$mobile-landscape-tablet:   768px;
$tablet-landscape:          1024px;
$pc:                        1600px;
$pc-xl:                     1600px;


// ***************************************
// **************** Number ***************
// ***************************************

$quart:                     15px;
$full:                      100%;

// ***************************************
// **************** Margin ***************
// ***************************************

$margin-center:             0 auto;